@model KSBookingMVC.Models.ListOfHotels

@{
    ViewData["Title"] = "UpdateHotels";
}

<h1>UpdateHotels</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateHotels">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HotelsId" class="control-label"></label>
                <input asp-for="HotelsId" class="form-control" />
                <span asp-validation-for="HotelsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagelink" class="control-label"></label>
                <input asp-for="Imagelink" class="form-control" />
                <span asp-validation-for="Imagelink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hotelname" class="control-label"></label>
                <input asp-for="Hotelname" class="form-control" />
                <span asp-validation-for="Hotelname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fromdate" class="control-label"></label>
                <input asp-for="Fromdate" class="form-control" />
                <span asp-validation-for="Fromdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Todate" class="control-label"></label>
                <input asp-for="Todate" class="form-control" />
                <span asp-validation-for="Todate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noofperson" class="control-label"></label>
                <input asp-for="Noofperson" class="form-control" />
                <span asp-validation-for="Noofperson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
